@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: #10b981; /* Emerald 500 */
  --color-primary-dark: #064e3b; /* Emerald 900 */
  --color-accent: #fbbf24; /* Amber 400 */
  
  --font-heading: var(--font-cinzel);
  --font-body: var(--font-inter);
}

:root {
  --background: #0f172a; /* Slate 900 - Dark Blue/Grey base for modern feel */
  --foreground: #f8fafc; /* Slate 50 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
